.hidden {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

header div {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding-bottom: 10px;
}

header div img {
  height: 70px;
}

header form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 1);
  padding: 5px;
}

header form input {
  padding: 5px;
  border: none;
  flex: 1;
  outline: none;
}

header form button {
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

header form button:hover {
  background-color: gray;
}

header form button img {
  width: 25px;
}

body #recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  width: 80%;
}

body .imgContainer {
  grid-column: 0;
  margin-top: 10px;
}

body #recipeContainer {
  grid-column: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

body .tagsContainer {
  margin-top: 20px;
}

.tagsContainer .tag {
  color: blue;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
}

body #noResults {
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

footer .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer .social a img {
  width: 30px;
  margin: 10px;
}

footer a {
  justify-self: center;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1298px) {
  body .imgContainer {
    margin-top: 10px;
  }

  body #recipeContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
}

@media screen and (max-width: 768px) {
  body #recipes {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  body .imgContainer {
    margin-top: 10px;
  }

  body #recipeContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .tagsContainer,
  .recipe__description {
    display: none;
  }
}
